@use 'globals';

.videosSection {
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.videosSectionReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5rem;
}

.videos-box {
  width: 100%;
  display: flex;
}

.text-box {
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: globals.$font-text;
}

p {
  font-weight: 600;
}

.firstTitle {
  margin-bottom: 0;
}

.secondTitle {
  font-size: 2.4rem;
  margin-top: 0;
}

.message {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 0;
}